:root {
  --primary-color: #352f44;
  --secondary-color: #faf0e6;
  --tertiary-color: #5c5470;
  --quaternary-color: #b9b4c7;
  --header-bg-color: #5c5470;
  --header-text-color: #faf0e6;
  --button-bg-color: #1f1f1f;
  --button-hover-bg-color: #575757;
  --special-button-bg-color: #03a59a;
  --special-button-hover-bg-color: #00cec0;
  --operator-button-bg-color: #535353;
  --operator-button-hover-bg-color: #686868;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: linear-gradient(90deg, var(--header-bg-color) 0%, var(--tertiary-color) 100%);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .line-md--github {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='32' stroke-dashoffset='32' d='M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.7s' values='32;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='10' stroke-dashoffset='10' d='M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.63 -1.09 -1.66 -2.31 -2.31'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.8s' dur='0.2s' values='10;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
header h1 {
  font-size: 1.5rem;
  color: var(--header-text-color);
  margin: 0;
}
header a {
  color: var(--header-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
}
header a:hover {
  color: var(--quaternary-color);
}

main {
  display: flex;
  padding: 1rem;
}

.historyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--header-text-color);
  cursor: pointer;
  transition: color 0.3s;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}
.historyBtn:hover {
  background-color: var(--button-hover-bg-color);
}

.mdi--history {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.5 8H12v5l4.28 2.54l.72-1.21l-3.5-2.08zM13 3a9 9 0 0 0-9 9H1l3.96 4.03L9 12H6a7 7 0 0 1 7-7a7 7 0 0 1 7 7a7 7 0 0 1-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.9 8.9 0 0 0 13 21a9 9 0 0 0 9-9a9 9 0 0 0-9-9'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.open-dialog {
  border: none;
  background-color: transparent;
  color: var(--header-text-color);
}
.open-dialog .streamline--calculator-2-solid {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M6.375 0H2.5A2.5 2.5 0 0 0 0 2.5v3.875h6.375zM0 11.5V7.625h6.375V14H2.5A2.5 2.5 0 0 1 0 11.5M7.625 14V7.625H14V11.5a2.5 2.5 0 0 1-2.5 2.5zM14 2.5v3.875H7.625V0H11.5A2.5 2.5 0 0 1 14 2.5m-11.967.225a.625.625 0 0 0 0 1.25h.625V4.6a.625.625 0 1 0 1.25 0v-.625h.625a.625.625 0 0 0 0-1.25h-.625V2.1a.625.625 0 0 0-1.25 0v.625zm6.992.625c0-.346.28-.625.625-.625h2a.625.625 0 0 1 0 1.25h-2a.625.625 0 0 1-.625-.625m.625 5.682a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25zm-.625 2.625c0-.345.28-.625.625-.625h2a.625.625 0 1 1 0 1.25h-2a.625.625 0 0 1-.625-.625M1.781 9.215a.625.625 0 0 1 .884 0l.618.618l.618-.618a.625.625 0 1 1 .884.884l-.618.618l.618.618a.625.625 0 0 1-.884.884l-.618-.618l-.618.618a.625.625 0 0 1-.884-.884l.618-.618l-.618-.618a.625.625 0 0 1 0-.884' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: 2ms;
}
.open-dialog .streamline--calculator-2-solid:hover {
  background-color: var(--quaternary-color);
}

dialog {
  border: none;
  background-color: #353535;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #03a59a;
  justify-content: space-evenly;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
dialog .calculator__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}
dialog::backdrop {
  background-color: transparent;
}
dialog[open] {
  display: flex;
  flex-direction: column;
}
dialog .calculator__display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: white;
  margin-bottom: 0.5rem;
  gap: 0;
}
dialog .calculator__display h3 {
  margin: 0;
  font-size: xxx-large;
}
dialog .calculator__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.2rem;
}
dialog .calculator__header .calculator__header--buttons {
  display: flex;
  gap: 0.5rem;
}
dialog .calculator__header button {
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 2ms;
  padding: 0.2rem;
}
dialog .calculator__header button:hover {
  background-color: #575757;
}
dialog .calculator__header button:last-child:hover {
  background-color: #ff4d4d;
}
dialog .calculator__header .calculator__header--title {
  margin: 0;
  padding: 0 0.3rem;
}
dialog .calculator__header .ic--outline-minimize,
dialog .calculator__header .material-symbols--close,
dialog .calculator__header .mdi--window-maximize {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
dialog .calculator__header .ic--outline-minimize {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 19h12v2H6z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
dialog .calculator__header .material-symbols--close {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
  -webkit-mask-image: var --svg;
  mask-image: var(--svg);
}
dialog .calculator__header .mdi--window-maximize {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 4h16v16H4zm2 4v10h12V8z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
dialog .calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.3rem;
  justify-content: center;
}
dialog .calculator__buttons button {
  border: none;
  background-color: var(--button-bg-color);
  border-radius: 0.3rem;
  height: 3.7rem;
  width: 4.6rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 2ms;
  color: white;
}
dialog .calculator__buttons button:hover {
  background-color: var(--button-hover-bg-color);
}
dialog .calculator__buttons button#equals {
  background-color: var(--special-button-bg-color);
}
dialog .calculator__buttons button#equals:hover {
  background-color: var(--special-button-hover-bg-color);
}
dialog .calculator__buttons button#clear, dialog .calculator__buttons button#clear-entry, dialog .calculator__buttons button#power, dialog .calculator__buttons button#multiply, dialog .calculator__buttons button#subtract, dialog .calculator__buttons button#add, dialog .calculator__buttons button#divide {
  background-color: var(--operator-button-bg-color);
}
dialog .calculator__buttons button#clear:hover, dialog .calculator__buttons button#clear-entry:hover, dialog .calculator__buttons button#power:hover, dialog .calculator__buttons button#multiply:hover, dialog .calculator__buttons button#subtract:hover, dialog .calculator__buttons button#add:hover, dialog .calculator__buttons button#divide:hover {
  background-color: var(--operator-button-hover-bg-color);
}/*# sourceMappingURL=main.css.map */